:root {
	--sizeindex: calc(1vh + 1vw);
}

.exception__wrapper {
	padding: 30px 114px 380px 80px;
	position: relative;
	/* overflow: hidden; */
}
.exception-404-banner {
	position: absolute;
	left: -50px;
	bottom: 5%;
	width: 40vw;
}

.exception--abstract {
	display: flex;
	gap: 20px;
	align-items: center;
}

.exception--abstract span:nth-child(1) {
	font-weight: 500;
	font-size: 36px;
	opacity: 30%;
}
.exception--abstract span:nth-child(2) {
	font: 500 48px "Montserrat Alternates";
	opacity: 50%;
	text-decoration: line-through;
}
.exception--abstract span:nth-child(3) {
	font: 500 62px "Montserrat Alternates";
	opacity: 80%;
}
.exception--text {
	font-weight: 600;
	font-size: calc(min(var(--sizeindex) * 3.5, 92px));
	line-height: 1;
	max-width: 850px;
	width: calc(100vw - 45%);
	margin-top: 50px;
	z-index: 1;
}

.exception--ghost__wrapper {
	width: 0;
	height: 0;
	pointer-events: none;
}
.exception--ghost {
	position: absolute;
	z-index: 0;
	bottom: 15px;
	right: 27px;
	width: 38%;
} .exception--ghost > svg {overflow: visible;}
.exception--ghost .to-down {animation: ghost 3s cubic-bezier(.38,.1,.65,.86) alternate infinite;}
.exception--ghost > svg > g > ellipse {
	transform-origin: left bottom;
	animation: scaling 3s cubic-bezier(.38,.1,.65,.86) alternate infinite;
}
.exception--ghost > svg .eyelash-left,
.exception--ghost > svg .eyelash-right {transform-origin: center;}
.exception--ghost > svg .eyelash-left {animation: eyelash-moving-left 3s cubic-bezier(.38,.1,.65,.86) alternate infinite;}
.exception--ghost > svg .eyelash-right {animation: eyelash-moving-right 3s cubic-bezier(.38,.1,.65,.86) alternate infinite;}
.exception--ghost > svg .mouth {
	transform-origin: bottom center;
	animation: mouth 3s cubic-bezier(.38,.1,.65,.86) alternate infinite;
}

@media (max-width: 980px) {
	.exception__wrapper {padding: 40px 45px 260px;}
	.exception-404-banner {
		left: -20px;
		bottom: -10%;
		width: 40vw;
	}
	.exception--abstract {gap: 22px;}
	.exception--abstract span:nth-child(1) {font-size: 18px;}
	.exception--abstract span:nth-child(2) {font-size: 24px;}
	.exception--abstract span:nth-child(3) {font-size: 36px;}
	.exception--text {
		margin-top: 40px;
		max-width: 510px;
		font-size: calc(min(var(--sizeindex) * 2.8, 92px));
	}
	.exception--ghost {right: 40px;}
}

@media (min-width: 500px) and (max-width: 650px) {
	.exception--ghost {width: 50vw !important;}
}

@media (max-width: 650px) {
	.exception__wrapper {padding: 20px 12px 450px;}
	.exception-404-banner {
		transform: rotate(-90deg) translateY(490px);
		transform-origin: bottom left;
		right: 0;
		left: unset;
		bottom: 5%;
		width: 370px;
	}
	.exception--abstract {gap: 10px;}
	.exception--abstract span:nth-child(1) {font-size: 14px;}
	.exception--abstract span:nth-child(2) {font-size: 18px;}
	.exception--abstract span:nth-child(3) {font-size: 24px;}
	.exception--text {
		margin-top: 20px;
		max-width: 90vw;
		width: 90%;
		font-size: calc(min(var(--sizeindex) * 3.4, 92px));
	}
	.exception--ghost {
		top: unset;
		right: unset;
		bottom: 10px;
		left: -60px;
		width: 330px;
	}
}

@keyframes ghost {
	from {transform: translateY(0);}
	50% {transform: translateY(-20px);}
	to {transform: translateY(40px);}
}
@keyframes scaling {
	from {transform: scaleY(1) scaleX(1);}
	50% {transform: scaleY(1.03) scaleX(1.05);}
	to {transform: scaleY(0.99) scaleX(0.95);}
}
@keyframes eyelash-moving-left {
	from {transform: translateY(0) rotate(0deg);}
	50% {transform: translateY(-6px) rotate(-0.7deg);}
	to {transform: translateY(-4px);}
}
@keyframes eyelash-moving-right {
	from {transform: translateY(0) rotate(0deg);}
	50% {transform: translateY(-9px) rotate(0.7deg);}
	to {transform: translateY(-7px) rotate(0deg);}
}
@keyframes mouth {
	from {transform: scale(1);}
	50% {transform: scale(0.99);}
	to {transform: scale(1);}
}
