/* FONTS LOAD SECTION */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* USER VARIABLES SECTION */

:root {
	--accent: #FFF500;
	--text: #fff;
	--sizeindex: calc(1vh + 1vw);
	--lineheight: 30px;
	--userfont: montserrat, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--background-color: #036639eb;
	--gap: 5%;
}

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: var(--userfont);
	font-size: var(--sizeindex);
	line-height: var(--lineheight);
	font-weight: normal;
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: var(--background-color);
}

/* USER STYLES */

.accent {
	color: var(--accent);
	font-weight: bold;
}

header {
	/* background-image: url(../img/waveTop.svg); */
	min-height: 139px;
	width: 100%;
}

.header__background {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	min-height: 139px;
}

.header__background svg {
	height: 139px;
	width: 100%;
}

.header--wrapper {
	padding-right: var(--gap);
	padding-left: var(--gap);
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header--wrapper__logo {
	background-image: url(../img/logo.svg);
	width: 192px;
	height: 67px;
}

.header--wrapper--nav {
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
	width: 67%;
}

.header--wrapper--nav__item {
	font-weight: medium;
}


.content__wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 91%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

/* FEATURE-1 */

.feature-1 .content {
	margin-right: auto;
	margin-left: auto;
	width: 91%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.feature-1 .content__text--prime {
	position: absolute;
	font-family: 'Montserrat Alternates', sans-serif;
	/* display: flex; */
	transform: rotate(-90deg) translate(-107%, 10px);
	font-size: calc(var(--sizeindex) * 2.8);
	left: 0;
	transform-origin: 0 0;
}

.feature-1 .content__text--second {
	font-size: calc(var(--sizeindex) * 3.4);
	text-transform: capitalize;
	line-height: 130%;
	margin-left: calc(var(--gap) * 2.2);
	box-sizing: unset;
}

.feature-1 .content__text {
	transform: translateY(-10%);
}

.feature-1 .content__image {
	width: calc(var(--sizeindex) * 25.5);
	height: calc(var(--sizeindex) * 22.8);
	background-image: url(../img/imgBack1.png);
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 25px;
}

.wave {
	height: 130px;
	width: 100vw;
	/* background-image: url(../img/smallWave.svg); */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	margin-top: -60px;
	z-index: -1;
}

.wave svg {
	height: 126px;
	width: 100%;
}

/* FEATURE 2 */

.feature-2 {
	margin-bottom: 70px;
}

.feature-2 .content__wrapper {
	margin-top: 40px;
}

.feature-2 .content__image {
	width: 440px;
	height: 295px;
	background-image: url(../img/imgBack2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.feature-2 .content__text {
	max-width: 50%;
}

.feature-2 .content__text h2 {
	margin-bottom: calc(var(--gap)*2);
}

.feature-2 .content__text--about {
	display: block;
	font-weight: 500;
	font-size: calc(var(--sizeindex)*1.2);
	line-height: 29px;
	margin-left: 40px;
}

.feature-2 .content__text--decoration {
	float: left;
	transform: translateY(2px);
	display: block;
	background-color: #fff;
	border: #fff 1px solid;
	height: auto;
}

.feature-2 .content__text--wrapper {
	position: relative;
} 

/* FEATURE-3 */

.feature-3 {
	background-color: #6D4EA4;
}

.feature-3 .content {
	padding-bottom: 40px;
}

.content__title {
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: calc(1.7*var(--sizeindex));
}

.content__title--wrapper {
	width: 100vw;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 66px;
}

.feature-3 .content__table {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: var(--gap);
	padding-right: var(--gap);
	box-sizing: border-box;
}

.content__table--item {
	width: 350px;
	height: 100%;
}

.content__table--item-header {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: calc(1.2*var(--sizeindex));
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	word-break: break-all;
}

.content__table--item-description {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: calc(var(--sizeindex)*0.9);
	line-height: calc(var(--sizeindex) * 1.1);
	margin-bottom: var(--gap);
	min-height: 120px;
}

.content__table--item-tools-wrapper {
	display: flex;
	justify-content: flex-start;
}

.content__table--item-tools-wrapper:last-child {
	margin-top: 20px;
}

.content__table--item-tools-description {
	display: block;
}

.content__table--item-tools-ico {
	margin-right: 30px;
}

.content__table--item-tools-ico.alarm {
	background-image: url(../img/alarm_ico.svg);
	height: 30px;
	width: 30px;
}

.content__table--item-tools-ico.money {
	background-image: url(../img/money_ico.svg);
	height: 26px;
	width: 30px;
}

.content__table--item-button-wrapper {
	display: flex;
	justify-content: center;
}

.content__table--item-button {
	font-weight: 700;
	font-size: calc(var(--sizeindex) * 0.9);
	text-align: center;
	color: #fff;
	background-color: #238900;
	display: inline-block;
	margin-top: 45px;
	padding: 11px 25px;
	padding-bottom: 9px;
	box-sizing: border-box;
	border-radius: 10px;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.content__table--itemDecoration {
	margin-left: calc(var(--gap)*0.7);
	margin-right: calc(var(--gap)*0.7);
	transform: translateY(-50px);
}