/* FONTS LOAD SECTION */

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&family=Montserrat:ital,wght@0,100;0,300;0,400;1,100&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* USER VARIABLES SECTION */

:root {
	--accent: #FFF500;
	--text: #fff;
	--sizeindex: calc(1vh + 1vw);
	--lineheight: 30px;
	--userfont: montserrat, sans-serif;
	--systemfont: -apple-system, BlinkMacSystemFont, Arial, sans-serif;
	--background-color: #036639eb;
	--gap: 5%;
	--animation: cubic-bezier(.44,0,.26,1);
}

/* GENERAL CSS SETTINGS */

::placeholder { color: #666; }
::selection { background-color: var(--accent); color: #fff; }
input, textarea { outline: none; }
input:focus:required:invalid, textarea:focus:required:invalid { border-color: red; }
input:required:valid, textarea:required:valid { border-color: green; }

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	font-style: none;
	color: #fff;
	text-decoration: none;
}

body {
	font-family: var(--userfont);
	font-size: var(--sizeindex);
	line-height: var(--lineheight);
	font-weight: normal;
	color: var(--text);
	min-width: 320px;
	position: relative;
	overflow-x: hidden;
	background-color: var(--background-color);
}

li {
	list-style: none;
}

/* USER STYLES */

.accent {
	color: var(--accent);
	font-weight: bold;
}

header {
	/* background-image: url(../img/waveTop.svg); */
	min-height: 139px;
	width: 100%;
}

.header__background {
	width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	min-height: 139px;
}

.header__background svg {
	height: 139px;
	width: 100%;
}

.header--wrapper {
	padding-right: var(--gap);
	padding-left: var(--gap);
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header--wrapper__logo {
	background-image: url(../img/logo.svg);
	width: 192px;
	height: 67px;
}

.header--wrapper--nav {
	display: flex;
	justify-content: space-between;
	text-transform: capitalize;
	width: 67%;
}

.header--wrapper--nav__mobile {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.header--wrapper--nav__mobile__burger,
.header--wrapper--nav__mobile__contact {
	cursor: pointer;
}

.header--wrapper--nav__mobile__burger {
	z-index: 4;
}

.header--wraper--nav__mobile__burgerMenu {
	width: 100vw;
	height: 100vh;
	background-color: #654C93;
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	display: flex !important;
	flex-direction: column;
	justify-content: space-around;
	padding: 40px 0;
	/* visibility: hidden; */
	transform: translateX(-100%);
	transition: all 0.3s var(--animation);
}

.header--wraper--nav__mobile__burgerMenu.active {
	/* visibility: visible; */
	transform: translateX(0);
	transition: all 0.3s var(--animation);
}

.header--wraper--nav__mobile__burgerMenu span {
	position: relative;
	margin-left: 50px;
	font-size: calc(var(--sizeindex)*3);
	font-weight: bold;
}

.header--wraper--nav__mobile__burgerMenu span::before {
	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	width: 14px;
	height: 14px;
	border-radius: 100%;
	background-color: var(--accent);
	transform: translateY(-5px);
}


.link__header {
  position: relative;
}

.link__header:after {
	content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
	background-color: var(--accent); /* Цвет подчеркивания при исчезании линии*/
	height: 2px; /* Высота линии */
  transition: width ease 0.5s; /* Время эффекта */
}

.link__header:hover:after {
  width: 100%;
	left: 0;
	bottom: -3px;
	height: 2px; /* Высота линии */
	background-color: var(--accent); /* Цвет подчеркивания при появлении линии*/
	transition: width 0.5s; /* Время эффекта */
}

.header--wrapper--nav__item {
	font-weight: medium;
}


.content__wrapper {
	margin-right: auto;
	margin-left: auto;
	width: 91%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

/* FEATURE-1 */

.feature-1 .content {
	margin-right: auto;
	margin-left: auto;
	width: 91%;
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.feature-1 .content__text--prime {
	position: absolute;
	font-family: 'Montserrat Alternates', sans-serif;
	/* display: flex; */
	transform: rotate(-90deg) translate(-107%, 10px);
	font-size: calc(var(--sizeindex) * 2.87);
	left: 0;
	transform-origin: 0 0;
}

.feature-1 .content__text--second {
	font-size: calc(var(--sizeindex) * 3.4);
	text-transform: capitalize;
	line-height: 130%;
	margin-left: calc(var(--gap) * 2.2);
	box-sizing: unset;
}

.feature-1 .content__text {
	transform: translateY(-10%);
}

.feature-1 .content__image {
	width: calc(var(--sizeindex) * 25.5);
	height: calc(var(--sizeindex) * 22.8);
	background-image: url(../img/imgBack1.png);
	background-position: 50% 50%;
	background-size: contain;
	background-repeat: no-repeat;
	margin-left: 25px;
}

.wave {
	height: 130px;
	width: 100vw;
	/* background-image: url(../img/smallWave.svg); */
	/* background-repeat: no-repeat; */
	/* background-size: cover; */
	margin-top: -60px;
	z-index: -1;
}

.wave svg {
	height: 126px;
	width: 100%;
}

/* FEATURE 2 */

.feature-2 {
	margin-bottom: 70px;
}

.feature-2 .content__wrapper {
	margin-top: 40px;
}

.feature-2 .content__image {
	width: 440px;
	height: 295px;
	background-image: url(../img/imgBack2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.feature-2 .content__text {
	max-width: 50%;
}

.feature-2 .content__text h2 {
	margin-bottom: calc(var(--gap)*2);
}

.feature-2 .content__text--about {
	display: block;
	font-weight: 500;
	font-size: calc(var(--sizeindex)*1.2);
	line-height: 29px;
	margin-left: 40px;
}

.feature-2 .content__text--decoration {
	float: left;
	transform: translateY(2px);
	display: block;
	background-color: #fff;
	border: #fff 1px solid;
	height: auto;
}

.feature-2 .content__text--wrapper {
	position: relative;
} 

/* FEATURE-3 */

.feature-3 {
	background-color: #6D4EA4;
}

.feature-3 .content {
	padding-bottom: 40px;
}

.content__title {
	text-align: center;
	font-style: normal;
	font-weight: 600;
	font-size: calc(1.7*var(--sizeindex));
}

.content__title--wrapper {
	width: 100vw;
	display: inline-block;
	margin-top: 50px;
	margin-bottom: 66px;
}

.feature-3 .content__table {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-left: var(--gap);
	padding-right: var(--gap);
	box-sizing: border-box;
}

.content__table--item {
	width: 350px;
	height: 100%;
	/* background-color: #0404; */
}

.content__table--item-header {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: calc(1.2*var(--sizeindex));
	text-align: center;
	margin-top: 10px;
	margin-bottom: 50px;
	word-break: break-all;
}

.content__table--item-description {
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-weight: lighter;
	font-size: calc(var(--sizeindex)*0.9);
	line-height: calc(var(--sizeindex) * 1.1);
	margin-bottom: var(--gap);
	min-height: 130px;
}

.content__table--item-tools-wrapper {
	display: flex;
	justify-content: flex-start;
}

.content__table--item-tools-wrapper:last-child {
	margin-top: 20px;
}

.content__table--item-tools-description {
	display: block;
	line-height: auto;
	font-size: calc(var(--sizeindex)*0.9);
	line-height: normal;
}

.content__table--item-tools-ico {
	margin-right: 30px;
	background-repeat: no-repeat;
}

.content__table--item-tools-ico.alarm {
	background-image: url(../img/alarm_ico.svg);
	height: 30px;
	width: 30px;
}

.content__table--item-tools-ico.money {
	background-image: url(../img/money_ico.svg);
	height: 26px;
	width: 30px;
}

.content__table--item-button-wrapper {
	display: flex;
	justify-content: center;
}

.content__table--item-button {
	font-weight: 700;
	font-size: calc(var(--sizeindex) * 0.9);
	text-align: center;
	color: #fff;
	background-color: #238900;
	display: inline-block;
	margin-top: 45px;
	padding: 11px 25px;
	padding-bottom: 9px;
	box-sizing: border-box;
	border-radius: 5px;
	text-transform: uppercase;
	margin-bottom: 10px;
	transition: all var(--animation) 0.5s;
	cursor: pointer;
}

.content__table--item-button:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
	background-color: var(--accent);
	color: black;
}

.content__table--itemDecoration {
	margin-left: calc(var(--gap)*0.7);
	margin-right: calc(var(--gap)*0.7);
	transform: translateY(-50px);
}

.featureItem--wrapper {
	padding-top: calc(var(--gap) * 2);
	padding-bottom: calc(var(--gap) * 2);
}


.featureItem__header {
	font-weight: 600;
	font-size: calc(var(--sizeindex) * 2.55);
	margin-right: auto;
	margin-left: auto;
	width: fit-content;
	margin-bottom: calc(var(--gap) * 2);
}

.featureItem__slideDesc--wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 calc(2 * var(--gap));
	flex-wrap: nowrap;
	margin-bottom: var(--gap);
}

.featureItem__slider {
	height: calc(var(--sizeindex) * 18);
	width: 10vw;
	background-color: #fff;
	margin-right: calc(var(--gap) * 2);
	box-shadow: 0px 0px 60px 2px rgba(0, 0, 0, 0.5);
	border-radius: 24px;
	flex: 20 1 auto;
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.feature__slider .swiper-wrapper {
	transition: var(--animation) !important;
}


/* SLIDER IMAGE */

.featureItem__slider .img {
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-repeat: no-repeat !important;
	background-size: cover !important;
	background-position: center !important;
}

.swiper-button-next, .swiper-button-prev {
	width: calc(var(--sizeindex) * 3) !important;
	height: calc(var(--sizeindex) * 3) !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	height: 50px;
	width: 100px;
	opacity: .3;
	transition: all var(--animation) 0.4s;
}

.swiper-button-next::after {
	content: "" !important;
	background-image: url(../img/arrow_next.svg);
}

.swiper-button-prev::after {
	content: "" !important;
	background-image: url(../img/arrow-prev.svg);
}

.swiper-button-next:hover::after,
.swiper-button-prev:hover::after {
	opacity: 1;
}

.swiper-pagination-bullet {
	height: calc(var(--sizeindex) * 0.9) !important;
	width: calc(var(--sizeindex) * 0.9) !important;
	background-color: transparent !important;
	border: solid black 2px;
	opacity: 1 !important;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: black !important;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 calc(var(--sizeindex) * 0.4) !important;
}


.featureItem__description {
	flex: 12 0 0;
	line-height: calc(var(--sizeindex) * 1.3);
	font-size: var(--sizeindex);
	font-weight: 500;
}

.link a {
	text-decoration: underline;
	color: var(--accent);
}

.featureItem__button {
	padding: calc(var(--sizeindex) * 0.6) calc(var(--sizeindex) * 1.7);
	background-color: #004F2B;
	display: block;
	width: fit-content;
	margin: 0 auto;
	border-radius: 5.86px;
	text-transform: uppercase;
	cursor: pointer;
	transition: all 0.5s var(--animation);
}

.featureItem__button:hover {
	box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
	color: #004F2B;
	background-color: #fff;
}

.featureItem.reverse {
	background-color: #6D4EA4;
}

.featureItem__button.purple {
	background-color: #583E85;
}

.featureItem__button.purple:hover {
	background-color: #fff;
	color: #6D4EA4;
}

.featureItem__slideDesc--wrapper.reverse {
	flex-direction: row-reverse;
}

.featureItem__slider.reverse {
	margin-right: 0;
	margin-left: calc(var(--gap) * 2);
}

.featureItem__slider.big {
	margin: 0 calc(var(--gap) * 2);
	flex: none;
	height: calc(var(--sizeindex) * 25);
	width: 80%;
}

.featureItem__description--wrapper {
	display: flex;
	justify-content: space-between;
	margin: var(--gap) calc(var(--gap) * 2);
	margin-bottom: 0;
}

.featureItem__description--main {
	max-width: 45%;
	font-weight: 600;
	font-size: calc(var(--sizeindex) * 2);
	line-height: calc(var(--sizeindex) * 2);
}

.featureItem__description--collateral--wrapper {
	max-width: 45%;
	position: relative;
}

.featureItem__description--collateral {
	font-size: calc(var(--sizeindex) * 1.2);
	line-height: calc(var(--sizeindex) * 1.4);
	margin-bottom: 10px;
}

.featureItem__description--collateral--design {
	height: 20%;
	background-image: url(../img/collateral.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: absolute;
}

.line-design {
	height: 2px;
	width: calc(100vw - 2*var(--gap));
	background-color: #66B08F;
	margin: 0 auto;
}

footer {
	margin: var(--gap) var(--gap);
	font-size: var(--sizeindex);
}

.footer-wrapper {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

.short-link li {
	margin-bottom: 10px;
}

.web-studio {
	line-height: 1.5;
}

.license {
	font-weight: bolder;
}

.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.45);
	backdrop-filter: blur(7px);
  z-index: 9;
	transition: opacity var(--animation) 0.4s;
	opacity: 1;
}

.form-popup__hidden {
	opacity: 0;
}

.form-container {
	height: 80vh;
	width: 80vw;
	margin: 10vh auto;
	background-color: #fff;
	border-radius: 19px;
	position: relative;
	padding: var(--gap);
}

.btn-cancel {
	height: 40px;
	width: 40px;
	position: absolute;
	right: 2%;
	top: 2%;
	cursor: pointer;
	transition: all var(--animation) 0.4s;
}

.btn-cancel svg,
.btn-cancel svg > * {
	transition: all var(--animation) 0.4s;
}


.btn-cancel svg:hover,
.btn-cancel svg:hover > * {
	fill: rgb(0, 0, 0);
	stroke: white;
}

.btn-cancel svg:hover path:nth-child(1) {
	stroke: #000000;
}

.form-container h2 {
	color: #000000;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: calc(var(--gap) * 0.5);
	display: block;
	font-size: calc(var(--sizeindex) * 2);
	width: min-content;
}

.alert-text {
	color: #000000;
	font-size: calc(0.8 * var(--sizeindex));
	line-height: 1.4;
}

.form-items {
	background-color: rgb(255, 216, 216);
	margin: var(--gap) 0;
	justify-content: space-between;
	align-items: top;
	flex-direction: row;
	display: flex;
	color: black;
}

.column-1 {
	width: 45%;
	height: calc(9 * var(--sizeindex));
	background-color: rgb(174, 174, 174);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.input__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

input {
	width: 100%;
	margin-left: 20px;
	height: calc(1.7 * var(--sizeindex));
	border: 2px solid #000000;
	border-radius: 5px;
}
