/* === DESKTOP FIRST === */

/* xxl <= Mega extra large (xxxl) */

@media (min-width: 1400px) {

	/* HEADER */

	.header--wrapper-large {
		width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}

	.header--wrapper--nav {
		width: 825px;
		font-size: 24px;
	}

	/* FEATURE 1 */

	.feature-1 {
		width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}

	.feature-1 .content__text--prime {
		font-size: 68px;
	}

	.feature-1 .content__text--second {
		font-size: 81px;
	}

	.feature-1 .content__image {
		width: 631px;
		height: 565px;
	}

	/* FEATURE 2 */

	.feature-2 {
		width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}

	.feature-2 .content__text h2 {
		font-size: 36px;
	}

	.feature-2 .content__text--about {
		font-size: 24px;
		line-height: 29px;
	}

	/* FEATURE 3 */

	.feature-3 .content {
		width: 1400px;
		margin-right: auto;
		margin-left: auto;
	}

	.feature-3 .content__title--wrapper {
		width: 1400px;
	}

	.feature-3 .content__title {
		font-size: 48px;
	}

	.feature-3 .content__table--item-header {
		font-size: 26px;
	}

	.feature-3 .content__table--item-description {
		font-size: 18px;
		line-height: 22px;
	}

	.feature-3 .content__table--item-tools-description {
		font-size: 18px;
		line-height: 22px;
	}

	.feature-3 .content__table--item-button {
		font-size: 18px;
		font-style: bolder;
	}

	.content__table--itemDecoration {
		transform: translateY(-10px);
	}
}

/* xl <= Extra extra large (xxl) */
@media (max-width : 1400px) {

	.content__table--itemDecoration {
		transform: translateY(-20px);
	}

}

/* lg <= Extra large (xl) */
@media (max-width : 1200px) {

}

/* md <= Large (lg) */
@media (max-width : 992px) {

	.content__table--item-button {
		padding: 9px 20px;
		padding-bottom: 6px;
	}

	.content__table--itemDecoration {
		margin-right: calc(var(--gap)*0.35);
		margin-left: calc(var(--gap)*0.35);
		transform: translateY(-20px);
	}

	.content__table--itemDecoration line {
		stroke-width: 2;
	}

}

/* sm <= Medium (md) */
@media (max-width : 768px) {

	.feature-1 .content__text--prime {
		font-size: calc(var(--sizeindex) * 2.57);
	}
	.feature-1 .content__text--second {
		font-size: calc(var(--sizeindex) * 3);
		margin-left: calc(var(--gap) * 2.7);
	}
}

/* xs <= Small (sm) */
@media (max-width : 700px) {
	body {
		width: 700px;
	}

	.header__background {
		width: 700px;
	}

	.header--wrapper--nav {
		width: 390px;
	}

	.wave {
		width: 700px;
	}

	.feature-1 .content__text--prime {
		font-size: calc(var(--sizeindex) * 2.45);
	}

	/* FEATURE 2 */


}


/* === MOBILE FIRST === */

/* Custom (xs) */
@media (min-width : 0) {

}

/* Small (sm) */
@media (min-width : 576px) {

}

/* Medium (md) */
@media (min-width : 768px) {

}

/* Large (lg) */
@media (min-width : 992px) {

}

/* Extra large (xl) */
@media (min-width : 1200px) {
	.text {
		font-size: 18px;
	}
}

/* Extra extra large (xxl) */
@media (min-width : 1400px) {
	.text {
		font-size: 22px;
	}
}
